[2013-09-05 23:53] junosuarez opened #1 "When's the next one?"
& where?

[2013-09-16 05:54] dshaw opened #2 "NodeBots SF September 2013 Meetup - mostly organizational"
## 9/18 7:00-8:30
## Location: EngineYard SF

[500 3rd Street, top floor, San Francisco, CA‎](https://www.google.com/maps/preview#!q=500+3rd+St%2C+San+Francisco%2C+CA+94107)
### Huge thank you to @EngineYard for providing not only an awesome location, but also food and drinks!

**Objective:**
- Plan meetups for October and November. December is roadtrip to [RobotsConf](http://robotsconf.com/)
- Di

[2013-09-22 22:59] dshaw opened #3 "NodeBotsSF Logo - bikeshed edition"
Current proposal:

![nodebotssf-logo](https://f.cloud.github.com/assets/4322/1188557/98904536-23da-11e3-9dcb-026b85e22b6a.png)

Open to alternative contributions. Here's the source SVG file:

https://cloudup.com/cL5kHiwZdzx

[2013-09-22 23:08] dshaw opened #4 "NodeBots SF October 2013 Meetup - Color Sensors and Drones"
## Wednesday 10/16/13 5:30-8:30
## Location: [GitHub HQ 3.0](https://foursquare.com/v/github-hq-30/50f75cc0e4b07201af25590d)

_**Happy Birthday to dshaw, Happy Birthday to dshaw, Happy Birthday to us all! (Actually, it's 10/14.) *_*
### Project
- Color Sensor hacks with @nexxy.
- Andrew Nesbitt (@andrew) will be joining us!
### Sponsorship Opportunities
- Contribute hardware components. [please ad

[2013-10-27 08:03] #4 closed, assigned to affinity-matrix

[2013-10-27 08:29] dshaw opened #5 "NodeBots SF November 2013 Meetup - Spherofest"
## Wednesday 11/20/13 5:30-8:30
## Location: [New Relic](https://foursquare.com/v/new-relic-hq/5129061de4b0d0a7c98aa92a)
### Project
- Adventures in Spero hacking.
- We have several Spheros that we can distribute pre-event. Ping @dshaw to get one.
- The most stable Sphero module and the one that's endorsed by Orbotnix is **spheron**.
  - `npm docs spheron`
  - [/alchemycs/spheron](https://github.c

[2013-10-27 08:49] #1 closed, assigned to nobody

[2013-10-27 08:54] dshaw opened #6 "NodeBots SF December 2013 Meetup - Xmas Lights"
## Thursday 12/19/13 5:30-8:30
## Location: [Heroku](https://foursquare.com/v/heroku/513e69bfe4b02fea8e1bb87c)
### Project
- Program your Xmas lights. Festive hacking you can share with your holiday guests.
### Sponsorship Opportunities
- Contact @dshaw or @nexxy for to sponsor hardware for this month.
- Sponsorship opportunities are typically $500, unless there's something particularly creative y

[2013-11-04 21:23] #2 closed, assigned to dshaw

[2013-11-21 07:59] dshaw opened #7 "NodeBots SF January 2014 Meetup - TBD - Suggest Something!"
## Thursday 1/16/14 5:30-8:30
## Location: TBD
### Project
- TBD - Suggest something!
- We might go with IOT (Internet of Things). Perhaps @timpark can join us.
- Maybe mini quadcopter / Crazyflie hacking with the @Skycatch team.
- dshaw wants to do Mindstorms, but we'll probably need some heavy sponsor contributions to make that happen.
- Kinect hacking???
### Sponsorship Opportunities
- Contact

[2014-01-17 00:15] #7 closed, assigned to nobody

[2014-01-22 01:09] timfpark opened #8 "NodeBots SF February 2014 Meetup"
@dshaw Microsoft can host the Feb meetup on the 17th and I can for-sure be there now.   Do you want me to reserve the space (can hold at least 100 people) for that date?

[2014-02-05 17:40] timfpark opened #9 "NodeBots SF April 2014 Meetup"
The NodeBots April meetup will be at Microsoft San Francisco (835 Market Street) on April 17th: 5:30pm social start and 6pm main event.   Let us know if you have ideas for the event!

[2014-02-05 17:43] timfpark opened #10 "NodeBots SF March 2014 Meetup"
The March meetup for NodeBots SF will be on Saturday March 8th as an all-day node hardware hackfest in conjunction with JSFest .  See http://jsfest.com/ for details!

[2014-02-05 17:44] #6 closed, assigned to nobody

[2014-02-05 17:44] #5 closed, assigned to dshaw

[2014-04-07 05:12] junosuarez opened #11 "NodeBots SF May 2014 Meetup"
Date: May 15th
Venue: The new Sauce Labs office
Topic: Resin Pi - Docker ALL THE THINGS!

Build Spec:
- 15 [Raspberry Pi Model B](http://www.amazon.com/gp/product/B009SQQF9C/?tag=148-20) - $40/each
- What other hardware will we need?

[2014-04-08 17:09] morganrallen opened #12 "NodeBots SF July 2014 Meetup. NodeBots Day / 1 year anniversary"
@dshaw Started discussing this yesterday. For those who were not around, last years NodeBots Day was hosted at Adobe and a huge success, directly leading to this group meeting nearly ever month since.

We're shooting to have Adobe host again this year (maybe @brianleroux will be our host this year?) as they have a fantastic space and we'll hopefully have even more participants this year.

The date

[2014-04-08 17:25] morganrallen opened #13 "Moving / Organizing hardware."
Currently our hardware is living in the dungeon at Heroko in the loving care of @zeke.
It needs to get moved to MS by the 17th.

@dshaw is out of town from this Sunday until the 16th.

So the questions are...
Can anyone drive the hardware over?
@timfpark Can we store the hardware at Microsoft until then?
@timfpark Can I hang out at the office the afternoon of the 17th in order to organize and cata

[2014-04-18 21:37] #9 closed, assigned to nobody

[2014-04-18 21:37] #8 closed, assigned to nobody

[2014-04-18 21:37] #10 closed, assigned to nobody

[2014-08-05 23:58] nebrius opened #14 "NodeBots SF August 21st Meetup. Season 2 planning"
Oh hai, I'm going to start helping out with organizing NodeBots SF meetups. I'm excited!

After chatting with @dshaw earlier today, we thought it would be a good idea to make this month's meeting a planning meeting for the coming year.

I had hoped we could hold the meeting at Rdio, but unfortunately our building has recently placed tight restrictions on how often we can reserve the building's mee

[2014-09-02 21:11] nebrius opened #15 "NodeBots SF September 18th Meetup"
For our next NodeBots SF meetup, we want to do an introduction to NodeBots workshop. This will be geared towards beginners who haven't done any nodebots before. The plan is to cover the typical Arduino+Johnny-Five combo getting LEDs to blink, servos to move, etc.

We are looking for a venue. @heff, since you offered for the previous meetup, can we look into using the Brightcove for this meetup?

[2014-09-15 23:41] SaraJo opened #16 "October Meetup Potluck?"
Hey Kids,

   I'm here in SF for a bit as I'm doing a hardware accelerator called Highway1. In NYC I used to do a potluck where we would host a special guest and drink wine and eat food (some would cook, some brought pizzas).

   I was able to land our space at Highway1, and Zach Supalla from Spark.io is free to be our guest. Are you interested?

[2014-10-22 05:36] nebrius opened #18 "NodeBots SF November 20th Meetup with Kassandra"
Let's start talking the November 20th meeting. @nodebotanist is coming in to give what is sure to be an awesome talk!

The first thing we need to nail down is venue. This could be a pretty big meeting, so we want to make sure to have plenty of space. @dshaw had mentioned GitHub. @jlord is this still an option?

[2014-11-11 04:47] nebrius opened #19 "Stickers!"
So what does everyone think about making some NodeBots SF stickers for the meetups?

I hear that [Sticker Mule](http://www.stickermule.com/custom-stickers) is the best place to order from. I checked into them and they seem to run between 20 to 50 cents per sticker depending on type and quantity.

Personally, I'm fond of our [Twitter logo](https://pbs.twimg.com/profile_images/378800000494919887/9f1

[2014-12-09 23:32] bryan-m-hughes opened #20 "NodeBots SF February 2015 Meetup"
For this meetup, we plan to solder all the things! Well, hopefully not _all_ the things... :)

I'm still thinking on how exactly to structure it, but here's my current train of thought:
- Start with a mini-lecture on what soldering is and safety, then move on to hands on
- Have some sort of basic circuit that we will be soldering...maybe a blinky light powered by a 555 timer or something
    - If

[2014-12-11 06:37] bryan-m-hughes opened #21 "New Code of Conduct"
Long term, one of my biggest goals for NodeBots SF is to increase the diversity of attendees/speakers. NodeBots has historically been one of the more welcoming communities in tech, but I feel that the demographics of our NodeBots SF attendees have started skewing more towards white/straight/male recently.

I'm pretty new at organizing (and a white male), so I'm sure this is partly (if not mostly)

[2014-12-12 07:18] #19 closed, assigned to nobody

[2014-12-15 17:08] #11 closed, assigned to nobody

[2014-12-15 17:09] #12 closed, assigned to nobody

[2014-12-15 17:09] #14 closed, assigned to nobody

[2014-12-15 17:09] #15 closed, assigned to nobody

[2014-12-15 17:09] #16 closed, assigned to nobody

[2014-12-15 17:09] #18 closed, assigned to nobody

[2014-12-15 17:14] bryan-m-hughes opened #23 "NodeBots SF 2015 planning"
Let's do another planning meeting to get the next few months of meetups figured out. I suggest we do one in early January, perhaps January 8th? That is one week before the January NodeBots SF meetup on soldering.

We can host it at Rdio or Famo.us, but we could also chat over dinner somewhere and keep it casual (HT to @TheAlphaNerd for this idea).

[2015-01-03 22:23] voodootikigod commented on #23
Hey just a heads up I am definitely going to be there for reactjsconf
would love to do at the very least a beer/food with the NodeBots SF crew.
Let me know what works!!  Cheers

On Tue, Dec 23, 2014, 12:24 AM Myles Borins <notifications@github.com>
wrote:

[2015-01-04 22:18] bryan-m-hughes commented on #23
@voodootikigod Will you be able to put together a talk for 1/29(ish)? Speakers choice on topics :) I think we would all prefer to make this the January meetup.

@Frijol (or @morganrallen) have you had a chance to get in touch with your contacts at Supply Frame about hosting yet?

[2015-01-04 22:44] morganrallen commented on #23
I'll shoot Alek and Matt a message.

On Sun, Jan 4, 2015 at 2:18 PM, Bryan Hughes <notifications@github.com>
wrote:

--
http://ithoughtyouweretherobot.com
Metal and Wire

http://nolonelyguineapigs.com/
Wandering and Rambling

http://morglog.org
Old and Neglected.

-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: OpenPGP.js v.1.20121007
Comment: http://openpgpjs.org

xsBNBFG3btUBB/9+/WJNOSIuc/praKPaPO

[2015-01-04 23:41] bryan-m-hughes commented on #23
Thanks @morganrallen

[2015-01-04 23:50] voodootikigod commented on #23
Absolutely can craft something special!

Thursday is perfect!

Cheers

*Chris Williams*

@voodootikigod <http://twitter.com/voodootikigod> | GitHub
<http://github.com/voodootikigod>

*The things I make that you should check out:*
SaferAging <http://www.saferaging.com/> | JSConf <http://jsconf.com/> |
RobotsConf <http://robotsconf.com/> | RobotsWeekly
<http://robotsweekly.com/>

Help me end the neg

[2015-01-04 23:56] morganrallen commented on #23
So it's all good for that date (29 Thur), also Supply Frame is happy to
provide food and drink for the night.

On Sun, Jan 4, 2015 at 3:50 PM, Chris Williams <notifications@github.com>
wrote:

--
http://ithoughtyouweretherobot.com
Metal and Wire

http://nolonelyguineapigs.com/
Wandering and Rambling

http://morglog.org
Old and Neglected.

-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: OpenPGP.js v.

[2015-01-05 00:59] bryan-m-hughes commented on #23
@morganrallen fantastisch! Yes, lets have them supply food and drink.

I'll try and get the meetup event up tomorrow-ish.

[2015-01-07 00:53] voodootikigod commented on #23
quite a testament to live up to! hope to not let anyone down (and if I do,
there is the bar afterwards right?)

*Chris Williams*

@voodootikigod <http://twitter.com/voodootikigod> | GitHub
<http://github.com/voodootikigod>

*The things I make that you should check out:*
SaferAging <http://www.saferaging.com/> | JSConf <http://jsconf.com/> |
RobotsConf <http://robotsconf.com/> | RobotsWeekly
<http:

[2015-01-07 01:22] dshaw commented on #23
Looks great.

[2015-01-07 01:26] bryan-m-hughes commented on #23
San Francisco is the land of bars. I'm sure we can find something ;-)

If there are no further comments, I'll announce the meetup tomorrow morning (kinda late in the day right now IMO).

[2015-01-07 01:31] TheAlphaNerd commented on #23
:+1:

[2015-01-09 07:37] bryan-m-hughes commented on #23
So, the planning meeting is next week, what time would we like to meet? 6? 6:30?

Also, can you let me know if you plan to attend so I can get a head count?

[2015-01-09 07:38] nexxy commented on #23
6:30 sounds fabulous. I will be there! :smile_cat:

(La Trappe, right?)

[2015-01-09 07:44] dshaw commented on #23
:beers:

[2015-01-09 08:04] morganrallen commented on #23
Way to not be on a Thursday! I'll be there.

On Thu, Jan 8, 2015 at 11:44 PM, Dan Shaw <notifications@github.com> wrote:

--
http://ithoughtyouweretherobot.com
Metal and Wire

http://nolonelyguineapigs.com/
Wandering and Rambling

http://morglog.org
Old and Neglected.

-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: OpenPGP.js v.1.20121007
Comment: http://openpgpjs.org

xsBNBFG3btUBB/9+/WJNOSIuc/pra

[2015-01-09 12:58] TheAlphaNerd commented on #23
See you at 6:30
On Jan 9, 2015 12:04 AM, "morganrallen" <notifications@github.com> wrote:

[2015-01-09 17:13] Frijol commented on #23
I'll be there! Sorry for the slow response re SupplyFrame; been out of town

[2015-01-09 17:22] bryan-m-hughes commented on #23
6:30 at La Trappe on 1/13 (Tues) it is. See you all there! La Trappe is at 800 Greenwich St.

[2015-01-14 00:35] nexxy commented on #23
should we try to secure reservations? is that a thing they do? has someone already done this?

[2015-01-14 00:38] nexxy commented on #23
Nevermind! I called them and got us a table for 7 @ 6:30pm

[2015-01-14 00:41] morganrallen commented on #23
Carp! I forgot this was tonight! Shufflin' plans, see you all at 630.

On Tue, Jan 13, 2015 at 4:38 PM, E̵̘̳̘̝ṃ̟͈͙̗̹͘i͖͇ḷ͚͔̱̰̠y͜
̩̲͕R̮̜͓̫o͉̣̦̘̖̖ͅs̫̣͜e̼͖̹̩͉͉͠ <notifications@github.com> wrote:

--
http://ithoughtyouweretherobot.com
Metal and Wire

http://nolonelyguineapigs.com/
Wandering and Rambling

http://morglog.org
Old and Neglected.

-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: OpenPGP.js

[2015-01-14 01:01] bryan-m-hughes commented on #23
Thanks for taking care of that @nexxy! it was on my todo list for this afternoon, but I got busy all of a sudden and kinda forgot :(.

[2015-01-14 02:11] Frijol commented on #23
gah, running late! See you around 6:45..

[2015-01-14 02:29] TheAlphaNerd commented on #23
In lyft, there in 15 or so

[2015-01-14 02:41] dshaw commented on #23
Me 3.

[2015-01-14 02:42] dshaw commented on #23
Let's enjoy a beverage and some food and kick off planning at 7ish.

[2015-01-14 02:56] bryan-m-hughes commented on #23
We're downstairs in the basement

[2015-01-14 06:51] Frijol commented on #23
Recap/my notes:

Let's grow NodeBots to a global community
* Create a better central place to go for Nodebots things
 * Make it easier to find forums
 * Keep an index of groups/map them
* Make a beginner handbook/activities/links/wiki
* Get into education? Build a Nodebots-based curriculum?
* Make a projects page for Nodebots activities– maybe hackster.io tagging with nodebots would be appropriate

[2015-01-14 08:50] TheAlphaNerd commented on #23
I appreciate your accurate notes regarding sky net and @morganrallen

[2015-01-14 18:03] bryan-m-hughes commented on #23
Great writeup @Frijol, thanks!

Few more tidbits:
- @dshaw, can you add @Frijol and @nexxy as organizers on meetup.com?
- Long term goal: partner with groups such as Women Who Code, Black Girls Code, etc, and do women only, etc events. Maybe partner with other meetups and bring in a big guest
- ForwardJS is the beginning of February, and the NodeBots event is on the 6th: http://forwardjs.com/. Let

[2015-01-19 17:48] bryan-m-hughes commented on #23
Some follow up. I landed the CoC, and did some research and found these meetup groups for organizers:

http://www.meetup.com/San-Francisco-Meetup-for-Organizers/
http://www.meetup.com/sforganizer/
http://www.meetup.com/Event-Organizers-EventProfs-SF/
http://www.meetup.com/techeventorgs/
http://www.meetup.com/clswest/

Some seem to have a broad focus, some are tiny, some seem dead. None of them see

[2015-01-19 17:51] bryan-m-hughes commented on #23
Also, what does everyone think about using https://gitter.im/ (chat client that is GitHub focused)? It's free (for public repos) and has worked out really well for RobotsConf and Johnny-Five.

[2015-01-19 19:39] voodootikigod commented on #23
Hey All,

I have a bit of concerns with some of the items in this discussion. Worse case I am there next week, so happy to discuss in person.

1. "Let's grow NodeBots to a global community" -- this has been and is still being done already, are you proposing a new, separate, sporked effort to do so or supporting the existing efforts?
2. There already is a gitter chat for the nodebots community here

[2015-01-19 19:58] bryan-m-hughes commented on #23
I didn't realize we had gitter for nodebots/, fantastic!

Regarding gitter, my thoughts was that would be very specific to NodeBots SF, e.g. used for planning by organizers, answering questions about upcoming/past events, etc. Could be useful, may be overkill :).

I'll let @Frijol and @nexxy weigh in more on the community aspect, but my understanding is that this is more of a promotion and increas

[2015-01-19 20:21] nexxy commented on #23
@voodootikigod here is my perspective:

1. This is a bit of a simplification from the context at the meeting. The idea (as I understood it) being discussed was to participate in the facilitation of a set of 'formulae' for successful learning & engagement. While I'm aware there are certainly efforts on this front, there is little information that is readily available to someone not already plugged

[2015-01-19 20:25] dshaw commented on #23
- [X] add @Frijol and @nexxy as organizers on meetup.com ( http://nodebotssf.org/ )

[2015-01-19 20:29] nexxy commented on #23
thank you! profile updated (slightly).

[2015-01-19 20:42] voodootikigod commented on #23
@emilyrose :+1: the simplified notes had me a concerned, your comments I agree with (as a I struggle with nodebb and the insanity it is) and glad to hear them!

Cheers

[2015-01-19 20:44] emilyrose commented on #23
onward && upward!

[2015-01-27 03:25] bryan-m-hughes commented on #23
Hey everyone, @voodootikigod, @TheAlphaNerd, and I were chatting in gitter earlier today. If you're not on gitter, you should join! https://gitter.im/nodebots.

So we want to do a Q&A style event, kinda like we did with Sara Chipps last October. There are two things we need to do to get ready:
1) Get a list of moderated questions together. I'm thinking we do like last time and have the first half-

[2015-01-27 03:25] bryan-m-hughes commented on #21
Closing since we landed the CoC

[2015-01-27 03:25] #21 closed

[2015-01-29 18:32] bryan-m-hughes commented on #23
Tonight's the night!

Here are a list of moderated questions for tonight I came up with. Let me know what you think @voodootikigod (and everyone else):
- What makes JSConf so unique and sought after?
- What inspired you to create JSConf?
 -If you had to pick one memory from a past JSConf that exemplified what the JSConf family is all about, what would it be?
- What inspired you to create node seri

[2015-01-29 18:33] bryan-m-hughes commented on #23
I also got the Twilio backend implemented for the phone incident system, and open sourced the code at https://github.com/bryan-m-hughes/incident-reporter (phone numbers, etc are stored in a configuration file not checked in to the repo of course). Currently the server is running on one of my Digital Ocean droplets.

I just sent a test message, @nexxy, @Frijol, can you confirm you got the message?

[2015-01-29 22:45] voodootikigod commented on #23
hahahah so many conference questions :)

sounds great! Anything else I can handle on the fly -- is there a safe word
I can use if I need to decline a questions.... for reasons....

*Chris Williams*

@voodootikigod <http://twitter.com/voodootikigod> | GitHub
<http://github.com/voodootikigod>

*The things I make that you should check out:*
SaferAging <http://www.saferaging.com/> | JSConf <http://jsc

[2015-01-29 23:34] dshaw commented on #23
"Safe raging"

[2015-01-29 23:41] voodootikigod commented on #23
@dshaw nice

[2015-01-29 23:59] TheAlphaNerd commented on #23
My favorite safe word is 'toboggan'
On Jan 29, 2015 3:43 PM, "Dan Shaw" <notifications@github.com> wrote:

[2015-01-30 00:05] bryan-m-hughes commented on #23
"Bob Terwilliger"

Heh, I guess you're right re: conference heavy questions. I've been working on CFP's lately, so I guess I just have conferences on the brain :)

How about adding these:
- The Arduino and Raspberry Pi have been runaway successes for their ease of getting up and running with microcontrollers for the first time. Now we're seeing a number of companies, such as Spark and Electric Imp

[2015-01-30 22:45] bryan-m-hughes commented on #23
Last night went really well! Thanks @voodootikigod for coming out and everyone else for helping out! ❤️

[2015-01-30 22:45] #23 closed

[2015-01-31 01:51] morganrallen commented on #23
Can we have a regular Story Time with @voodootikigod?

On Fri, Jan 30, 2015 at 2:45 PM, Bryan Hughes <notifications@github.com>
wrote:

--
http://ithoughtyouweretherobot.com
Metal and Wire

http://nolonelyguineapigs.com/
Wandering and Rambling

http://morglog.org
Old and Neglected.

-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: OpenPGP.js v.1.20121007
Comment: http://openpgpjs.org

xsBNBFG3btUBB/9

[2015-01-31 01:58] bryan-m-hughes commented on #23
Only if there's a fireplace in the background, possibly with classical music playing in the background. I was disappointed in the lack of fireplace at this space, and possible classical music playing in the background.

[2015-02-01 18:34] bryan-m-hughes opened #24 "Workshop for kids"
I was chatting with @melanielok the other night at the meetup, and we think that it would be really cool to host a workshop specifically for kids. What are your thoughts on what this would look like?

[2015-02-01 18:36] melanielok commented on #24
I think it's a great idea!  I even have a bunch of kids we can experiment on.

[2015-02-01 21:07] melanielok commented on #24
i'm not sure what all is involved in hosting a workshop but with some guidance, i'll be happy to do the logistics and organizing (find a location, organize the people and help procure materials (?) support the workshop, etc.)  if someone can help with identifying the topic and person to lead the workshop.

[2015-02-02 00:07] dshaw commented on #24
Do we have a kids group we could collaborate with?

I've been wanting to drop in on the Creativity Museum and see what they might be interested in doing something together. Any other ideas?

http://creativity.org/

[2015-02-02 00:30] TheAlphaNerd commented on #24
This seems like a perfect place to workshop the bots that @voodootikigod was demo’ing.=

[2015-02-03 00:06] melanielok commented on #24
workshop around the programmable drones or the sumobots would be awesome!   i haven't been to the creativity museum but i would be happy to scope it out on Saturday when i take my son to ice skating at yerba buena gardens.  if not, we can do it at Presidio Knolls.  they would be host us if it is on a weekend.

[2015-02-03 00:10] voodootikigod commented on #24
I am happy to help with anything I can from this distance (including but
not limited promotion)

What target of date/month are you looking at?

*Chris Williams*

@voodootikigod <http://twitter.com/voodootikigod> | GitHub
<http://github.com/voodootikigod>

*The things I make that you should check out:*
SaferAging <http://www.saferaging.com/> | JSConf <http://jsconf.com/> |
RobotsConf <http://robots

[2015-02-03 00:10] melanielok commented on #24
i also have access to a huge community of parents just through my network so i can just send out a couple of emails to the the kids.  how much do workshops like this usually cost?  if we do at Presidio Knolls, i think we can just get away with just paying for their staff time which could be pretty cost-effective and we can have the kids bring their lunch and snacks (what they normally do) so this

[2015-02-03 00:14] melanielok commented on #24
i can check out available dates for the venue but it would really need to depend on if we have someone to help teach the workshop...

[2015-02-03 01:36] bryan-m-hughes commented on #24
I don't have any experience with kids, so I'm probably not a good choice to lead it, but I'm more than happy to lend a hand any other way I can. @dshaw, would you be willing to lead it?

As for dates, I would recommend end of February at the soonest so we have time to get our ducks in a row.  Perhaps even early-mid March?

[2015-02-03 02:01] TheAlphaNerd commented on #24
I use to be a camp councilor, does that count?

I think giving us at least a month to flesh out details and promote would be prudent.

[2015-02-03 02:02] melanielok commented on #24
I just spoke with Jennifer Newell, the teacher at Presidio Knolls teaching scratch in class.  She is excited to support whoever would like to lead the workshop.   Our goal is for her to teach the same drones kit curriculum at the school.

[2015-02-03 02:11] melanielok commented on #24
Yes!  That counts!  :)

How about 15 kids?  7-9 years old sound good?

[2015-02-03 02:18] bryan-m-hughes commented on #20
I just created the meetup page for this event, and will announce in the morning: http://www.meetup.com/nodebotssf/events/220265810/

We still need hardware, and someone to sponsor the hardware. I'll try and get the circuit and boards designed in the next few days...gotta get through ForwardJS first though.

Would someone be willing to do some research into soldering irons? How many do you think we

[2015-02-03 02:27] bryan-m-hughes commented on #20
Speaking of ForwardJS, PubNub agreed to sponsor the food for the workshop, so we're going to donate the proceeds to charity. Dave recommended Black Girls Code and SF AIDS Foundation, which I think is a great choice. What does everyone else think?

[2015-02-05 22:51] bryan-m-hughes opened #25 "ForwardJS workshop"
Hey everyone, so @TheAlphaNerd had some stuff come up and isn't able to help out anymore tomorrow. I could really use someone else on hand to help. @dshaw, @morganrallen, @emilyrose, or @Frijol, are any of you available tomorrow from 10ish to 4ish, or know someone else who knows johnny-five/arduino enough to help?

[2015-02-05 22:58] dshaw commented on #25
I'm locked in Node Summit prep unfortunately. Tweet out a call for contributors on the NodebotsSF account.

[2015-02-05 23:03] bryan-m-hughes commented on #25
Good thinking! done.

[2015-02-06 00:11] TheAlphaNerd commented on #25
It is looking like I will be able to come, but not until 2pm at the earliest.

[2015-02-06 23:18] melanielok commented on #24
I have access to a space at Presidio Knolls and an elementary school teacher (Jennifer) to lead the workshop with Myles and Bryan.  How is 3/14 as our target workshop date?  I will need about 2 weeks to recruit some (probably 15 between the ages of 7-9) students.  I am thinking
9:30a-12:30p workshop
12:30p-1:00p lunch break
1p-4p workshop
We will test run the kit with Myles and Jennifer on 2/17 to

[2015-02-10 07:27] bryan-m-hughes commented on #20
I put together a list of hardware that I think we'll need.

![Parts List](https://cloud.githubusercontent.com/assets/1141386/6123118/0f94fb20-b0b3-11e4-90ca-ed676cfa7f27.png)

My thoughts are that we will use the Adafruit perma-proto boards for this lesson, which are actually pretty awesome. It would have been nice to do custom printed PCBs, but I ran out of time and missed the deadline to get stu

[2015-02-10 17:57] bryan-m-hughes commented on #20
So I was thinking about it some more, and I want to add a bit to the workshop: removing the LED and replacing it with a different color so we can teach people about solder wick and solder suckers. As such, we will need to increase the number of wicks and suckers to 10 each, raising the total to $508 from AdaFruit.

[2015-02-11 20:37] melanielok commented on #24
I got the kits yesterday!!!
![img_9367](https://cloud.githubusercontent.com/assets/10799924/6155873/8bb408a8-b1ea-11e4-8203-5caec495fcce.JPG)
![img_9368](https://cloud.githubusercontent.com/assets/10799924/6155876/8ec94238-b1ea-11e4-9996-dd9726ff5a7d.JPG)

Jennifer and I are still scheduled to meet up with Myles on 2/17 at famo.us to put them together.  Anyone else around interested in coming by a

[2015-02-11 21:00] bryan-m-hughes commented on #24
So far the weekend of the 18th is the only one I'm not free for.

What time are you meeting at famo.us?

[2015-02-11 21:01] TheAlphaNerd commented on #24
Wahoo!!! Looks awesome.  I�m excited about the 17th.  Did you send out a calendar invite?

[2015-02-12 03:11] melanielok commented on #24
yes.  Sorry.  Just did it today.  Added Bryan too.

[2015-02-12 21:55] bryan-m-hughes commented on #24
Sooo...I still didn't get the calendar invite after all that :(. Can you double check my email address? bryan@theoreticalideations.com

[2015-02-12 22:38] melanielok commented on #24
Just sent it again.  :)

[2015-02-12 23:03] bryan-m-hughes commented on #24
thanks! worked that time :)

[2015-02-13 19:23] bryan-m-hughes commented on #25
Hardware was put back in storage, stick a fork in this one it's done :)

[2015-02-13 19:23] #25 closed

[2015-02-13 19:50] bryan-m-hughes commented on #20
Here's an updated BOM:

Soldering stations:

Item | URL | Unit Cost (for 10+)
-------|-------|--------------------
Iron | https://www.adafruit.com/products/2163 | $22.46
Stand | https://www.adafruit.com/products/150 | $5.40
Solder Sucker | https://www.adafruit.com/products/148 | $4.50
Solder | https://www.adafruit.com/products/1886 | $5.36
Wick | https://www.adafruit.com/products/149 | $2.70
Solid

[2015-02-16 22:04] bryan-m-hughes commented on #20
@emilyrose is still working on a possible hardware sponsorship, but I went ahead and placed the adafruit order today and stopped by Fry's to make sure we have everything in time for the event. Total cost for everything was $759.35

[2015-02-17 18:06] lynnaloo commented on #3
@dshaw @bryan-m-hughes Don't forget some send some hex stickers to Norfolk :) I have some hex ninja-cats now too if anyone is interested!

[2015-02-17 18:35] bryan-m-hughes commented on #3
How many and where should we mail them too? (I have them on me at the moment in prep for our next meetup Thursday)

[2015-02-17 18:50] lynnaloo commented on #3
I'll email you my address :)

[2015-02-17 22:42] bryan-m-hughes commented on #20
BTW, hardware has been ordered and shipped, and Spark is going to cover the hardware (thanks @emilyrose!). It'll be close, but it'll be arriving at the Rdio office on Thursday.

[2015-02-17 22:52] TheAlphaNerd commented on #20
Woohoo!

On Feb 17, 2015, at 2:42 PM, Bryan Hughes <notifications@github.com> wrote:

[2015-02-17 23:00] melanielok commented on #20
Nice!  I'm sad I can't make it.

[2015-02-17 23:38] bryan-m-hughes commented on #24
Ugh, so, I just realized I booked two things at the same time tonight, and I really should be at the other one, sorry about that. @TheAlphaNerd we can chat about it on Thursday at the soldering workshop.

[2015-02-17 23:39] TheAlphaNerd commented on #24
I got it under control

On Feb 17, 2015, at 3:38 PM, Bryan Hughes <notifications@github.com> wrote:

[2015-02-19 21:53] bryan-m-hughes commented on #20
Hardware is in! I'll planning on getting there around 5:30 tonight.

[2015-02-19 22:43] dshaw commented on #20
Woohoo! Just in time.

Unfortunately, I blew my back out on Tuesday and will not be able to make it out tonight. I'll miss you all. Have a great meetup!

[2015-02-23 20:45] #20 closed

[2015-02-23 20:50] bryan-m-hughes opened #26 "Future event ideas"
So our next meetup is in a month, and we need a topic! It also might not hurt to come up with a few other ideas.

I chatted with the Airware folks at the last SFNode, and they're open to hosting at their place, and we might be able to work in a drone-themed evening too (since they're a drone company after all!)

I was also thinking that it could be fun to do some sort of hackster.io evening with @

[2015-02-23 21:19] melanielok commented on #26
Drone-themed yeah!  I'd like to get one to fly.  :)

[2015-02-27 18:36] bryan-m-hughes opened #27 "March meetup"
It's almost March (gah! where did the month go?), so we need to get this nailed down quickly. Since we're late getting the ball rolling on this one, I was thinking that one of us should lead it so we can get things squared away quickly.

@Frijol or @emilyrose, would one of you be willing to do a workshop on Tessel/Spark? Or, @TheAlphaNerd, would you be interested in (finally) doing the audio hacki

[2015-02-27 18:39] emilyrose commented on #27
I'm down for a Spark workshop! We're doing the "Third Thursday" schedule, right?

[2015-02-27 18:52] bryan-m-hughes commented on #27
Cool!

Oh right, date. Yeah, third Thursday, so 3/19.

[2015-02-27 20:11] melanielok commented on #27
I'm up for a Spark workshop.  Lemme know if ther is something I can do to help.

[2015-02-28 00:51] Frijol commented on #27
Always down for a workshop– would it be weird to do a combined workshop? (I want to hang out with Spark :) )

[2015-03-01 00:00] bryan-m-hughes commented on #27
@Frijol I've been thinking about it this some, and I feel that having a combined workshop might be a bit much for one evening. I don't think it would be weird, but rather that it would make it feel more like an open hack night than a focused workshop-y thing. You can always come just to hang out :).

That said, we should definitely do a Tessel evening as well (maybe April or May?).

Also, did you

[2015-03-03 17:39] bryan-m-hughes commented on #27
The event is scheduled: http://www.meetup.com/nodebotssf/events/220896324/

We still need a venue, and I was thinking maybe New Relic. @dshaw you have some contacts there, correct? Could you get in touch with them, or get me in touch with them?

[2015-03-03 20:41] bryan-m-hughes commented on #27
So I may have a lead on a venue at Zoosk.

[2015-03-03 20:44] melanielok commented on #27
If you absolutely can't find a place, I can host at my house.  I can seat 12 comfortably around my dining room table.  :D

[2015-03-04 00:16] bryan-m-hughes commented on #27
Zoosk is in, we have our venue! I'll update the meetup.com page and announce the event tomorrow morning

[2015-03-04 00:21] MaxZoosk commented on #27
Hi, I was actually folllowing the conversation here and thats when I noticed you were looking for a place

[2015-03-08 16:56] melanielok commented on #24
We are still looking for a new date for the workshop.  After talking with Linda, we are thinking we will need 2 volunteers in addition to me and Jennifer for a workshop for 10 kids to build the sumobots.  Jennifer and I are available Saturday, April 4 from 9:30am-3:30pm.  Who wants to join us for chaos and pizza with a bunch of second graders?

[2015-03-08 22:31] bryan-m-hughes commented on #24
Are you looking for someone technical to help out if issues arise, or more for someone to help wrangle kids?

[2015-03-08 23:37] melanielok commented on #24
Technical please.  Both Jennifer and I are good wranglers.  :D

[2015-03-09 00:24] bryan-m-hughes commented on #24
I can help out then. Just a heads up though, I doubt I can be there earlier than 9:30 since I have to commute from Fremont, and mornings aren't exactly my forte 😉

[2015-03-09 01:46] melanielok commented on #24
Got it.  Will have coffee ready.

[2015-03-18 18:37] bryan-m-hughes commented on #27
Hey everyone, tomorrow night is the night! I just wanted to follow up with everyone, especially @MaxZoosk and @emilyrose to see how things are coming along. Do you need anything from me?

I've got a meeting that ends at 5 tomorrow, and I'm planning on heading over as soon as that's done, so I'm guessing I'll be there around 5:20-5:30

[2015-03-18 19:01] MaxZoosk commented on #27
Hello!

Everything looks set on my end. Zoosk is at 989 Market st. Its the Blick Art supply building, btw. We are going to be on the 6th floor. There will be someone in the lobby escorting people up or if they happen to know to tell the security guard they are looking for Max, they can go up that way as well. I will be up on 6 where we have a large meeting room.

If you want to email me at maxb at

[2015-03-18 19:02] TheAlphaNerd commented on #27
What is the deal for bikes?

[2015-03-18 19:08] MaxZoosk commented on #27
I just told the guy who will be downstairs to be prepared to deal with people with bicycles. He will take you to the 4th floor where you can stash your bike in a room thats behind a key card lock. Then you will need him or me to help you get your bike out when you are ready to leave. Alternatively there are some bike posts you can lock your bike too just outside the building: https://www.evernote.

[2015-03-30 06:19] bryan-m-hughes opened #28 "May Meetup"
It's that time again, another meetup. @alexglow has agreed to lead this month's workshop!

I was looking at the calendar and the normal day would be April 16th, but there's another event that night called Dancehall of Beautiful Radiant Things I already agreed to go to, and a few others may be going to. It's really awesome actually, you should check it out: http://www.dancehallofbeautifulradiantthi

[2015-03-30 17:05] melanielok commented on #28
April 23 is great.  I was wondering if it's possible to do a series workshop to build something more substantial.  Maybe 2-3 sessions to build a quadcopter or something.

[2015-03-30 17:22] #27 closed

[2015-03-30 17:25] bryan-m-hughes opened #29 "Recurring build event thing"
We chatted at last year's organizing event about creating some sort of recurring event to work on building something larger, but never really acted on it. @melanielok brought the idea up again in #28, and I think it would be really neat if we could make this work.

Let's start brainstorming!

A few of the things I remember us mentioning:
- It should be roughly once a week. Too far apart and we don

[2015-03-30 22:14] melanielok commented on #29
I can host it if you don't mind going out to west portal.  Probably 10-12 people comfortably.   16 people if we squish.  Not as nice as the offices you all have tho.

[2015-03-30 22:17] TheAlphaNerd commented on #29
I think the weekly oaklandJS meetings are so successful because there is no commitment other than showing up.  This is not to discourage us, but more for us to be aware that getting a group of people to commit once a week to a large scale project is going to be tough.

For starters, how many of the organizers can offer their time weekly?  I know I can do at least once a month, but weekly will be v

[2015-04-01 21:05] alexglow commented on #28
Yes! 23rd. I'll be out of town on the 16th – probably on the way to Dallas or somesuch.

We could do a bike lights workshop! First session could be to build 'em, then the others to make them smart? http://www.instructables.com/id/CyGlow-Bike-Lights-Workshop/
I've run a bunch of these.

Or... another thing :)

[2015-04-01 21:26] bryan-m-hughes commented on #28
That. Sounds. Awesome!

If it were next fall. I would say that this would be the perfect use case for a Spark Electron (@emilyrose, project idea 😁)

Do you think that hackster.io would be willing to sponsor the hardware?

I'm up for trying a multi-day event, perhaps two months in a row, another event a week or two later, etc.

I'm also wondering if this could be a good thing for teams to tackle in

[2015-04-01 21:48] Frijol commented on #28
This sounds cool! I know lots of people who have been looking for excuses to make bike lights and hook them up to things, especially @HarleyKwyn.

Would it make more sense to do this on a weekend, though? @alexglow your instructable suggests 4-5 hours– how far would you expect people to get in a standard Nodebots night?

[2015-04-01 22:03] HarleyKwyn commented on #28
So down, I've been wanting to do this for a long while.

[2015-04-01 22:14] bryan-m-hughes commented on #28
I'm up for trying a weekend hack instead of a normal evening. My Saturdays are booked the rest of the month, but I'm free most Sundays. What about the 19th or 26th?

[2015-04-02 00:15] melanielok commented on #28
Bike lights would be awesome!  I'm getting my son a new bike for his b-day so we can pimp it out.

[2015-04-02 02:31] melanielok commented on #28
Would it be too weird to make LED lights and body tape them to my daughter's back so she can be a cylon for Halloween?  She has a great spine structure for that...

[2015-04-02 16:31] bryan-m-hughes commented on #24
Just following up with everyone, who will be there on Saturday? I'll be there, and @melanielok of course. @TheAlphaNerd, @emilyrose, @Frijol, @dshaw?

Also, I did a build of the sumobot with a Spark last night and got it working. @melanielok, I followed the wiring diagram I sent you and there were no issues.

I do have one question though: what exactly are our plans in terms of coding? Are we plan

[2015-04-02 16:32] bryan-m-hughes commented on #24
Oh also, were exactly is the event?

[2015-04-02 17:03] melanielok commented on #24
1-Jennifer from PKS, me, Ly, you, Myles and Chris R from ETA will be there.  Max will be available by phone if we have problems.
2-Max set up the sumobot with a spark core and connected it with the school laptop.  He showed me how to do it.  Here are the instructions.  https://github.com/MaxDavila/sumobot-sparkcore/blob/master/README.md

[2015-04-02 17:06] melanielok commented on #24
3-the plan is to have everything setup and to just have the kids calibrate the servos and use the keyboard on the computer to control the sumobots.
4-Presidio Knolls is located at 250 10th St x Folsom.

[2015-04-02 17:09] melanielok commented on #24
Spark helped me flash all the cores so they are all connected to the school's wifi.  I've set up 5 of the laptops and will do the remaining 6 this afternoon when I am at the school.  School will be open at 8:45a Saturday morning.  Bryan/Myles--how do you take your coffee?

[2015-04-02 19:03] emilyrose commented on #24
@bryan-m-hughes this is concerning for sure! I'm happy to try to debug this with you.

I wonder about using voodoospark for something like this. Is that the intention here?

[2015-04-02 19:46] bryan-m-hughes commented on #24
@emilyrose I'll DM you on twitter so we don't clutter up the convo here. Looking at the docs that @melanielok linked to, it would seem that we are using voodoospark.

@melanielok has someone written the code to get the keyboard to control the sumbot? If not, I can repurpose some code I wrote last year that does basically this: https://github.com/bryan-m-hughes/jsfest-sf-2014-nodebot

I actually do

[2015-04-02 22:02] lynnaloo commented on #24
If you look at Max's repo here: https://github.com/MaxDavila/sumobot-sparkcore/blob/master/README.md, he's using code that's based on Rick Waldron's instructions from RobotsConf.
http://bocoup.com/weblog/assembling-preparing-robotsconf-sumobot-with-johnny-five/

[2015-04-02 22:11] lynnaloo commented on #24
My advice (based on the Sumobots workshops we do here in Norfolk) was to have laptops pre-loaded with Node.js and the code she want the kids to use. Since they're elementary school age, they'll spend a lot of time building and decorating their bots. Then, in small groups, they can connect their bots and run the pre-loaded code to get some experience driving the bots with the keyboard. This way the

[2015-04-03 05:01] melanielok commented on #24
i had some trouble flashing the cores at school today but it was fine when I did it with Max just now.  So 1 core down, 9 more to go.  If I still have problems in the morning, I may stop by Sparkhaus on my way to school to get some help.

[2015-04-03 05:05] chrisrhoton commented on #24
@melanielok Good meeting you today.  What's the plan for powering the Sparks.  I got the impression you were looking to go untethered on Sat.  Does that mean we'll be connecting the Sparks to the battery pack (along with the servos), or will we have some battery shields available?

[2015-04-03 05:34] melanielok commented on #24
There is a wiring diagram at https://github.com/MaxDavila/sumobot-sparkcore/blob/master/README.md

[2015-04-03 22:55] melanielok commented on #24
I got 1 longish USB cord from Spark in case both wifi's go down.  If anyone has another one, can you please bring it tomorrow?

[2015-04-03 23:02] bryan-m-hughes commented on #24
:+1:

[2015-04-06 17:02] bryan-m-hughes commented on #24
I added some documentation for getting the sumbot up and running, let me know what you think: https://github.com/bryan-m-hughes/jsfest-sf-2014-nodebot

[2015-04-06 18:44] bryan-m-hughes commented on #28
Bump. What is everyone else's thoughts on dates? I can also make the 18th work, in addition to the 19th and 26th, looking at my calendar. What works best for you @alexglow?

[2015-04-06 20:11] melanielok commented on #28
Any of those work for me.

[2015-04-06 21:38] alexglow commented on #28
Hey hey!

a - I can't do 4/18 or 19, since we'll be in Dallas, but 23 or 26 works!

b - I would create a slimmed-down version of the bike lights workshop, which requires some advance preparation on my part but would make everything go faster. Basically, everyone builds a taillight (or Cylon body lights :) ), instead of a full custom design.
The lights I use are non-addressable, but we can program

[2015-04-06 21:53] bryan-m-hughes commented on #28
I can do lunch tomorrow, and we can chat a lot more about details then. For now, here are a few thoughts:

c) Awesome, I kinda like the idea of having more time to get everything together :)

b) I kinda like the slimmed-down idea. We could use this as a starting off point that could perhaps escalate into a larger-scale build at a future date. There will be a mix of people who can and people who ca

[2015-04-06 22:12] alexglow commented on #28
Perf! Will message you about lunch.

[2015-04-07 01:28] melanielok commented on #24
Thanks!  Lemme check it out when I get back from vacation.

[2015-04-08 21:57] bryan-m-hughes commented on #28
So just an update: I suspect we're going to settle on April 26th for our meetup. There's a node school the same weekend, and we're coordinating so we don't overlap, and also so we can maybe possibly use the same venue. See https://github.com/nodeschool/sanfrancisco/issues/56 for more info.

We're still looking for a venue. PubNub is a no go, GitHub is most likely a no go, and @TheAlphaNerd will be

[2015-04-08 22:35] Frijol commented on #28
What are requirements of the space? HeavyBit or Zoosk might be amenable.

[2015-04-08 23:17] bryan-m-hughes commented on #28
@Frijol The key requirement is that we need to have space and OK from the building to bring in bikes into the space. Zoosk may not work well, HeavyBit could be a really good option though! Do you have contacts there, and would you mind getting in touch with them if so?

[2015-04-08 23:29] MaxZoosk commented on #28
We hosted bikes last time! Or was there a problem :P
To be fair though I think its unlikely I can get Zoosk to host on the weekend, but just in case I started asking around and a guy here has a connection at the LGBT Community Center and he said he thinks he could get them to host you if you run out of options.

[2015-04-08 23:31] bryan-m-hughes commented on #28
Thanks @MaxZoosk! So this event will involve actually hacking on bikes, so not just a place to store them, but space in the room for them :)

[2015-04-08 23:33] MaxZoosk commented on #28
Ahhh, I should have put 2 and 2 together. I retract any faux-outrage implied by my previous message.

[2015-04-09 17:53] Frijol commented on #28
@ukd1 is at HeavyBit– Russ, do you know if the space would be amenable to bike hacking for a Nodebots meetup?

[2015-04-13 17:52] bryan-m-hughes commented on #28
I checked and Rdio can't host on weekends, even if it's just in our lunch area.

So here's what I propose, since it's already April 13th (!!): let's punt this event until next month when we have more time to find a venue, and doing something easy this month.

The two thoughts I've come up with so far are:
1) Have @Frijol and friends come in and do a Tessel meetup
2) Have an open hack night

@alexg

[2015-04-14 00:11] bryan-m-hughes commented on #28
Oh right, I just remembered @Frijol is out of town. If no one has any complaints, let's just do an open hack night.

[2015-04-14 01:20] bryan-m-hughes commented on #26
Just so we don't forget, @TheAlphaNerd suggested this: https://github.com/tableflip/lasercat-workshop/blob/master/README.md. It looks awesome.

[2015-04-14 03:04] bryan-m-hughes commented on #28
Hey everyone, the meetup page is live and the event is scheduled for April 23rd! http://www.meetup.com/nodebotssf/events/221829323/

We still need a venue. @jlord or @skalnik, I realize this is kinda last minute, but would GitHub be available and interested in hosting and sponsoring food that night?

[2015-04-14 04:00] skalnik commented on #28
I'm out of town and it looks like there's already an event scheduled the 23rd. Sorry :crying_cat_face:

[2015-04-14 09:38] jlord commented on #28
I live in PDX :evergreen_tree: now so I can't be the Hubber host, so another :crying_cat_face:

[2015-04-14 15:20] dshaw commented on #28
Weekend does make it a bit more challenging to host. Maybe, @kitcambridge at Mozilla or @timfpark at Microsoft.

[2015-04-14 18:10] kitcambridge commented on #28
Unfortunately, I'll be traveling all of next week, so I don't think I could host...but I'll definitely ask around.

[2015-04-14 18:27] dshaw commented on #28
Thanks, @kitcambridge.

[2015-04-14 18:33] bryan-m-hughes commented on #28
@drnugent, is PubNub available on Thursday the 23rd?

[2015-04-14 18:43] drnugent commented on #28
@bryan-m-hughes On the 23rd we're hosting: http://iot.streamconf.com so I think everyone will be over at the Bently Reserve. (LMK if any of you would like to attend.)

[2015-04-14 18:47] dshaw commented on #28
@bryan-m-hughes @drnugent Perhaps we should merge streams and encourage folks to go to after event hangout. (If there is such a thing.)

[2015-04-14 18:48] bryan-m-hughes commented on #28
@dshaw @drnugent I can get behind that

[2015-04-14 18:51] drnugent commented on #28
@dshaw @bryan-m-hughes Yeah, happy to. We have drinks in the venue from 5:20p-6:30p but yeah happy to direct people elsewhere afterward!

[2015-04-14 19:19] TheAlphaNerd commented on #28
I�ll be at the iot event.  Definitely up for being a guiding force bringing folks over the pub nub.

If we have a bunch of tessel and spark stuff we could definitely build on the IOT interest

[2015-04-14 19:23] dshaw commented on #28
So who's down there in the Finacial District? Loggly, Docker, Lever.

On Tuesday, April 14, 2015, Myles Borins <notifications@github.com> wrote:

--
Daniel Shaw
@dshaw

[2015-04-14 22:01] bryan-m-hughes commented on #28
I'm actually not familiar with the financial district. Do you think holding it on eastern SOMA would be too far? I'm thinking New Relic or Google.

[2015-04-15 19:39] bryan-m-hughes commented on #28
Just a heads up, I've got a line on a few possible places nearby, will update once I know more.

[2015-04-15 19:41] melanielok commented on #28
Eastern SOMA is not far from the place we had the meeting in February.  It's walkable.

[2015-04-15 19:46] bryan-m-hughes commented on #28
That's a good idea if this doesn't pan out. Fingers crossed though, these two places are just a few blocks from the IoT venue!

[2015-04-16 01:01] alexglow commented on #28
So Geekdom is actually down here too. They have events here a lot, but I'm guessing it's a paid venue. I'll ask around!

I'm happy with May, with the caveat that only the first and last weekends are open for me. Sorry for the slow response – I just assumed I'd get notifications when this thread updated :sweat_smile:

[2015-04-16 20:09] bryan-m-hughes commented on #28
Ah, GitHub's notifications system...I still get bitten by that :)

I'm still waiting to hear back from Redfin and Switchfly, will update once I know more.

[2015-04-17 19:06] bryan-m-hughes commented on #28
I still haven't heard back yet.

@alexglow do you have contacts at Geekdom we could ask?

[2015-04-20 17:39] bryan-m-hughes commented on #28
So I've been giving it some thought, and I kinda want to cancel this month's event :-/

We still haven't found a venue, rsvp's are kinda low due to the late notice, and I just realized it's scheduled for the same evening as ReactJS SF's React && Give Back event (http://devonbrookelindsey.com/blog, http://www.meetup.com/ReactJS-San-Francisco/events/221841685/).

What does everyone else think?

[2015-04-20 17:46] HarleyKwyn commented on #28
I'm flexible with anything personally, would love to see this happen still.
I wish I had a lead on a suitable venue but I'm not that connected within
SF.

On Mon, Apr 20, 2015 at 10:39 AM Bryan Hughes <notifications@github.com>
wrote:

[2015-04-20 17:57] dshaw commented on #28
@bryan-m-hughes Seems reasonable.

[2015-04-20 18:43] bryan-m-hughes commented on #28
Event has been cancelled, emails and tweets sent out. Hopefully this will give the React meetup a bit of a boost, it's a really great idea.

[2015-04-24 22:53] alexglow commented on #28
Ah, sorry, missed the request for Geekdom contact.
Good call.
I'm trying to work out if we can use LightBlue Beans for this – if we can control them all from a central hub, that'd be fantastic! :)
Right now, the library seems to limit us to a single UUID at a time, but maybe?
If anybody's interested on working with me on this, either for May (if that's still on) or another time, let me know!

[2015-04-24 23:15] bryan-m-hughes commented on #28
@alexglow Yes, let's do this in May! Looking at the calendar, May 16th and 17th is Maker Faire, so that weekend is probably out.

What about the second (9th/10th) or second to last (23rd/24th) weekend?

@drnugent is PubNub interested/available to host any of those four days?

[2015-04-24 23:55] alexglow commented on #28
Aargh, I've got hackathons both of those weekends. The last weekend in May is probably the only one I can do at this point – 5/30 or 5/31.
Since my schedule is so wonky, if someone else wants to do something, I will gladly step out and make room. :) But I'm also excited to do it!

[2015-04-25 00:03] bryan-m-hughes commented on #28
JSConf is that last weekend, so I suspect many (most?) of us will be out for that. Perhaps we can do this workshop in June then?

[2015-04-25 00:09] drnugent commented on #28
@bryan-m-hughes I'm training for [ALC](http://bitly.com/alc2015) every weekend through May 31. But feel free to put me down for either of the last two weekends in June.

[2015-04-25 00:18] bryan-m-hughes commented on #28
Wow, that's awesome @drnugent! Best of luck!

I'm on vacation the 20th and 21st, but available the 27th and 28th. Does that work for you @alexglow?

[2015-04-25 00:44] alexglow commented on #28
Oh my gawd, it's another hackathon. Five to go and that's our last, ha.

Hmm. Alternatively, I could build the thing (which I need to do and test beforehand anyway) and do a talk on it on a weeknight. And we could plan to do a hands-on workshop someday down the line?

Sorry my calendar is wack.

[2015-04-28 17:37] bryan-m-hughes commented on #28
Hmm...is it possible to do the "get lights blinking" without the connecting it to a bike in a single night? I'm thinking you could bring your bike, like you mentioned, but get everyone there to just get the lights to light up. Feasible @alexglow?

[2015-04-28 20:30] alexglow commented on #28
For sure! :) People would just need to measure their bikes beforehand. A bit of marked string should do it.

[2015-04-28 20:30] alexglow commented on #28
I can put up some instructions :)

[2015-04-28 20:52] bryan-m-hughes commented on #28
Sweet! The third Thursday of the month is May 21st. Does that work for you @alexglow?

[2015-04-28 20:53] #24 closed

[2015-04-28 21:27] alexglow commented on #28
Awesome, yes! This is great – right after Maker Faire, for which I want/need to have my bike blinged up anyway. ^_^

[2015-04-28 23:39] bryan-m-hughes opened #30 "Planning Meeting, May 2015 edition"
Hey everyone, so we've been planning things kinda month to month lately, and it kinda sucks. I propose we get together over dinner and plan out future events like we did last fall. I'm hoping to make planning less chaotic so we don't end up in a bind having to skip a month like we did for April.

Anyone else in? I'm free this Friday, next Monday, and next Tuesday.

cc @dshaw @TheAlphaNerd @emilyro

[2015-04-28 23:40] TheAlphaNerd commented on #30
Next Monday and tuesday are wide open for me :D

[2015-04-28 23:40] bryan-m-hughes commented on #28
Let's do it!

@drnugent I feel like I've asked this a dozen times now, but is PubNub available to sponsor on May 21st? (6-9 is our typical time frame)

[2015-04-29 00:02] drnugent commented on #28
@bryan-m-hughes We've got a RoR meetup that night. How many people do you expect?

[2015-04-29 00:07] bryan-m-hughes commented on #28
@drnugent I would say between 10 and 20

[2015-04-29 00:11] drnugent commented on #28
Looks like the RoR meetup could be big, altho [not much content yet](http://www.meetup.com/SFRails/events/221245264/). We could potentially put you in the board room (15-20 chairs) if you can't find a more awesome venue

[2015-04-29 00:20] bryan-m-hughes commented on #28
OK, We'll look around for another host, and if we can't find anything we'll let you know! One of these days we'll do a NodeBots SF event there ;-)

[2015-04-29 00:23] alexglow commented on #28
If all else fails, would y'all be averse to doing it at Noisebridge? There are a fair number of soldering irons onsite, so it's where I've usually run the workshops. I can see if anything else is on, that night.

[2015-04-29 00:24] melanielok commented on #28
I'm going to see Tinkercad on Friday.  I can ask them if we can use their Pier 9 space.

[2015-04-29 00:27] melanielok commented on #30
Monday and Tuesday work for me too.

[2015-04-29 00:30] bryan-m-hughes commented on #28
@alexglow yeah, can you check if Noisebridge is available? Also, do you know if they charge for events? I'm guessing we would need to get another financial sponsor for food/space there?

@melanielok That would be pretty awesome if they have the right space for a meetup. If it looks like a good venue, can you ask?

[2015-04-29 00:48] alexglow commented on #28
Oh, it'd be fabulous to do it at Pier 9! There's a project assembly space upstairs (above the gallery) that might work. Also, some meeting rooms, but they might be a bit small, and we may not be able to solder on the tables.

I'll check on NB availability. You can hold events there for free. It might be a little tough to limit attendance (which would be necessary for something like this!). Yes, we

[2015-04-30 00:28] bryan-m-hughes opened #31 "Poster sized version of the Code of Conduct"
As part of a Twitter conversation (https://twitter.com/steveklabnik/status/593549960458698752), I learned that Microsoft placed poster sized versions of their CoC around the Build venue recently.

I think this is a great idea, and we should investigate doing it for NodeBots SF!

[2015-04-30 17:28] Frijol commented on #30
Monday/Tuesday (the 4th & 5th, right?) are good for me too.

[2015-04-30 17:29] TheAlphaNerd commented on #30
Monday the 4th works better for me!

[2015-04-30 17:42] bryan-m-hughes commented on #30
I'm going to see Welcome to Me on the 4th as part of the SFIFFS (http://www.sffs.org/sfiff58/program/welcome-to-me), but it should be done at 7:30. I have nothing scheduled on Tuesday.

Also, where do we want to go?

[2015-04-30 17:45] dshaw commented on #30
Monday or Tuesday both work good for me.

[2015-04-30 17:59] TheAlphaNerd commented on #30
I'm a liar... Tuesday works for me too.

Maybe we could go to --> http://somastreatfoodpark.com/

Lots of food trucks means lots of options!

[2015-04-30 18:41] bryan-m-hughes commented on #30
Hmm...I'm torn on Streat Food. It's super close to the Rdio office and I go there every week. It's awesome! But I go there every week. Hmm... :)

[2015-04-30 20:15] melanielok commented on #30
Basil Canteen is good too.  http://www.yelp.com/biz/basil-canteen-san-francisco

[2015-04-30 20:21] bryan-m-hughes commented on #30
I like Thai!

[2015-04-30 20:29] TheAlphaNerd commented on #30
+! for thai

[2015-04-30 20:47] bryan-m-hughes commented on #28
Sooooo...@ykro, NodeBots Guatemala organizer extraordinaire, is going to be in town during the time of this meetup and is open to giving a talk.

@alexglow I know it feels like we've been working on this forever, but would you be open to doing your workshop in June? Following the typical schedule, that meetup would be on June 18th

[2015-04-30 20:48] bryan-m-hughes commented on #30
@alexglow, interested/available in joining us? We can talk as a group about your bike hack and possibly come up with something a little more off the wall for it :)

[2015-05-02 05:11] ykro commented on #28
Thanks @bryan-m-hughes

@alexglowif I don't want to cause inconvenience but if it's possible to re-schedule your talk I would appreciate it :)

[2015-05-02 05:23] bryan-m-hughes commented on #30
So let's set some specifics: How does Basil Canteen at 7 on Tuesday May 5th sound?

[2015-05-02 17:56] melanielok commented on #30
Works for me

[2015-05-02 17:57] melanielok commented on #28
Workshop in June is great but I'm taking the kids on vacation starting June 20 so if it's a couple of days I would miss most of it.  :(

[2015-05-04 22:08] dshaw commented on #30
Basil Canteen 7pm tomorrow? It's on the calendar, so it's real!

[2015-05-04 22:10] bryan-m-hughes commented on #30
woo! Should we make a res? I think there will be 7-8

[2015-05-04 22:14] TheAlphaNerd commented on #30
I got the cal invite� looking forward to it!

Tomorrow is also beerjs if people want to swing by after dinner.

[2015-05-04 22:47] bryan-m-hughes commented on #30
I went ahead and made a reservation for 8. See you then!

[2015-05-05 22:03] melanielok commented on #30
Excellent!  See you all tonight.

[2015-05-05 22:18] alexglow commented on #30
w00t! See you all at 7 :)

[2015-05-06 02:07] melanielok commented on #30
On my way!

[2015-05-06 16:14] bryan-m-hughes commented on #30
My notes from last night:

May: @ykro
June: Bike hacking with @alexglow coinciding with NodeConf, possibly at Pier 9 after @melanielok's tour w/ the Norfolk crew
July: NodeBots Day
August: Audio hacking with @TheAlphaNerd
September: Tessel2 with @Frijol and crew
October: Halloween hacks - shoes, costumes, pumpkins, etc

[2015-05-06 16:14] #30 closed

[2015-05-06 16:23] bryan-m-hughes commented on #28
@ykro we all chatted about schedules last night, and it actually works out for everyone to have you lead our event on May 21st.

Your choice on topics. The typical format for our events is a 15ish minute presentation on whatever the theme for the evening is, followed by hack time for that theme. We have also done a few Q&A series in the past, and are open to doing regular talks if you prefer. What

[2015-05-06 17:41] Frijol commented on #31
Oh, I like this idea!

[2015-05-06 17:49] Frijol commented on #30
Should we make issues for each of these?

[2015-05-06 18:14] bryan-m-hughes commented on #30
@Frijol good thinking

[2015-05-06 18:16] nebrius opened #32 "June Meetup"
Bike hacking with @alexglow! It's happening!

This one we will want to do in conjunction with NodeConf, since the conference was cancelled, but people are going to be in town anyways.

We can either do it (hopefully) at Pier 9 on Tuesday May 9th, following the tour that @MelanieLok is giving with the Norfolk crew, or somewhere near OaklandJS on Wednesday May 10th and try to work those in together.

[2015-05-06 18:20] nebrius opened #33 "August Meeting"
Audio hacking with @TheAlphaNerd. We don't need to get details worked out now, just keep it in the back of your minds.

[2015-05-06 18:24] nebrius opened #34 "September meeting"
Tessel2 hosted by @Frijol!

Event Checklist:

- [x] Speaker selected
- [x] Venue secured: August 20th, @nebrius
- [x] Meetup.com event created: August 27th, @frijol
- [x] Venue sponsor added to meetup.com sponsors list September 3rd, unassigned
- [x] Food and drink: September 10th, @nebrius
    - [x] Will there be a good selection of non-alcoholic drinks provided? A proper selection will include m

[2015-05-06 18:25] nebrius opened #35 "October meeting"
It's Halloween time. This is wearables with a spooky theme (and also decoration hacking). This might be one to do a more unique hack event for, not just the typical 2 hours at a tech venue. We could consider a weekend event that's longer, onsite hack, etc.

Assuming this is on a Thursday, I recommend we hold it on October 22nd. Technically the 15th is the third Thursday, but we have 5 Thursday's t

[2015-05-06 18:27] bryan-m-hughes commented on #30
I filed #32, #33, #34, and #35. NodeBots Day already has a slack channel for planning that event, so I didn't create a separate issue here.

Ping @dshaw for access

[2015-05-06 18:30] Frijol commented on #34
I figured I'd show up with a bunch of T2s and toys and just let people hack :) Usually works well– I point them to start.tessel.io to learn how and then people tend to take off from there.

[2015-05-11 17:23] bryan-m-hughes commented on #28
Meetup scheduled! http://www.meetup.com/nodebotssf/events/222457968/

[2015-05-11 17:45] bryan-m-hughes commented on #28
We need a venue still. This one should be pretty easy, no major hardware, space, or day requirements. I'm in the process of reaching out to AirWare, who hosted an SFNode meetup earlier this year, but of course if anyone else has ideas, I'm all for them!

[2015-05-13 20:18] melanielok commented on #32
Tuesday June 10 right?

[2015-05-13 20:19] melanielok commented on #32
Sorry.  Tuesday June 9.  What time should I ask for?

[2015-05-13 20:24] bryan-m-hughes commented on #32
@melanielok can you ask about 6 to 9 for the meetup, plus an hour before for setup?

[2015-05-13 22:44] bryan-m-hughes commented on #28
Ugh, my contact at Airware doesn't work there anymore.

Perhaps we could reach out to SupplyFrame again? I liked their space. @Frijol, I think you contacted them last time, would you mind getting in touch with them again?

[2015-05-13 22:47] MaxZoosk commented on #28
I can possibly get Zoosk to host again if SupplyFrame doesn’t come through.

-Max

[2015-05-14 00:07] Frijol commented on #28
I won't be able to attend this one, but I think @emilyrose also knows Matt– Emily, do you want to reach out, just to make sure communication flows smoothly?

[2015-05-14 00:10] bryan-m-hughes commented on #28
@MaxZoosk thanks for the offer! If we don't get things ironed out with another venue by, say, EOD Friday, then let's go with Zoosk. Would you mind asking about tentatively hosting, just to make sure it's available?

[2015-05-14 01:17] alexglow commented on #28
I'll figure out the deal with Geekdom, too. If not for May, perhaps June.

[2015-05-15 22:16] bryan-m-hughes commented on #28
Hey everyone, so I haven't heard anything back on venues yet.

@MaxZoosk, lets move forward with hosting at Zoosk (and thank you!)

[2015-05-15 22:33] MaxZoosk commented on #28
Ok will do.

[2015-05-18 00:20] bryan-m-hughes commented on #32
@melanielok have you had a chance to follow up with Pier 9 yet? If possible, I would like to get the meetup posted tomorrow

[2015-05-18 17:52] MaxZoosk commented on #32
Building rules have changed since last Zoosk hosted. I will need to give them a list of people attending/planning on attending this time.

[2015-05-18 17:53] MaxZoosk commented on #28
@bryan-m-hughes Building rules have changed since last time Zoosk hosted and now I need a list of people attending/thinking of attending. I guess there was a theft recently :(

[2015-05-18 17:59] bryan-m-hughes commented on #28
@MaxZoosk that's unfortunate to here, I hope it wasn't too bad of a theft :(

Getting the list isn't a problem, we can generate it from the Meetup RSVPs. When does Zoosk need the list by, and what information do they need for each person?

Also, I'm assuming there will need to be a check-in process now. Will Zoosk handle that?

Can I announce that Zoosk is hosting on Meetup.com?

[2015-05-18 18:09] MaxZoosk commented on #28
@bryan-m-hughes: Getting the list the day of is fine. Either whoever shows up first bring it with, or email it to me that day. We just need names to check off and yes Zoosk will handle the checking off. Please feel free to announce that Zoosk is hosting on meetup.

[2015-05-19 15:24] melanielok commented on #32
urgh.   I'm not getting notifications from github.  Lemme reach out to them now about the date and time.

[2015-05-19 15:34] melanielok commented on #31
I like that.  Do you need help getting it printed?   I guess the only thing is storing it and hauling it around seems like it could be a pain.

[2015-05-19 16:41] bryan-m-hughes commented on #32
Thanks @melanielok

I hate it when I don't get notifications from GItHub. Make sure that you "watch" the repo (there's a button in the upper right). This should enable email notifications for you

[2015-05-19 16:52] bryan-m-hughes commented on #31
@melanielok I would love help getting it printed. I was thinking that I could just keep it at Rdio and haul it with me whenever there's a meetup. We'll want some sort of stand that is pretty portable.

We'll also want to find someone to sponsor the poster and stand. I was thinking we could put there logo and a "this poster sponsored by x" in the bottom corner or something.

Before we reach out to

[2015-05-20 20:53] MaxZoosk commented on #28
@bryan-m-hughes: Last time we needed to do extra running around so people could access the internet without agreeing to the TOS or whatever first. Do people need anything special in the way of internet access this time? Or is normal guest network fine? Also can you please email me the guest list tomorrow before 5pm?

[2015-05-20 20:58] bryan-m-hughes commented on #28
@MaxZoosk nothing special networking wise this time. Nice thing about the Arduino is that it's all over USB.

I created a calendar reminder to make sure I get that guest list to you!

[2015-05-20 20:59] emilyrose commented on #28
(for certain values of nice)

[2015-05-20 21:00] bryan-m-hughes commented on #28
@emilyrose haha, touche!

[2015-05-20 21:00] emilyrose commented on #28
:stuck_out_tongue:

[2015-05-21 04:58] melanielok commented on #31
Ok. Lemme look into maybe a laminated foldable design.  Can you send me the document and I can work something out and get a quote.

[2015-05-21 16:33] bryan-m-hughes commented on #32
The meetup is live! http://www.meetup.com/nodebotssf/events/222690451/

@alexglow, does the description sound right to you?

@melanielok any updates on Pier 9?

[2015-05-21 16:35] bryan-m-hughes commented on #31
I don't have the document designed yet. The full CoC is really long, so we probably just want to print blurbs from it. I also envision having some sort of header along with the NodeBots SF logo. I'll try and get something designed after I get back from JSConf next week, unless you want to take a crack at it?

[2015-05-21 20:52] bryan-m-hughes commented on #28
@MaxZoosk I just realized that I forgot to confirm, are we going to have food and drink like last time?

[2015-05-21 20:55] MaxZoosk commented on #28
@bryan-m-hughes Yes we will. By coincidence of timing we will have the same Korean catering food available in the kitchen if anyone wants and in the "NodeBotsSF room" there will be pizza and beer and wine, and non-alcoholic drinks in the kitchen again.

[2015-05-21 20:59] bryan-m-hughes commented on #28
Phew, thanks, I had a bit of a freak out moment there

[2015-05-21 23:20] MaxZoosk commented on #28
@bryan-m-hughes Can I get that guest list a bit early (now) if possible?

[2015-05-21 23:38] bryan-m-hughes commented on #28
@MaxZoosk what's your email?

[2015-05-21 23:40] MaxZoosk commented on #28
@bryan-m-hughes maxb at zoosk com

[2015-05-21 23:42] bryan-m-hughes commented on #28
sent!

I'm heading out now to pick up hardware and head over to Zoosk. I should be there in about 30-45 mintues

[2015-05-21 23:47] MaxZoosk commented on #28
got it, thanks

[2015-05-22 00:16] bryan-m-hughes commented on #28
I just realized that with traffic from the Giants game is screwing with traffic. Should be there by 5:45

[2015-05-22 00:36] MaxZoosk commented on #28
no worries, thanks for the update

[2015-05-22 00:38] ykro commented on #28
Hi Max, I'm at the lobby :)

Regards,

  --Adrián

[2015-05-22 00:39] MaxZoosk commented on #28
Someone shoudl be there to meet you! coming down now

On Thu, May 21, 2015 at 5:38 PM, Adrián Catalán <notifications@github.com>
wrote:

[2015-05-23 17:03] melanielok commented on #31
Sure.  Send me what you have and I can have my graphic designer take a crack

[2015-05-23 17:11] melanielok commented on #32
No updates on Pier 9 but may have space at Amazon.

[2015-05-23 20:53] bryan-m-hughes commented on #32
Oh fun, I didn't even know Amazon had an office in SF

[2015-05-26 03:11] bryan-m-hughes commented on #31
CoC is at https://github.com/nodebots/sf/blob/master/coc.md
Assets are at https://github.com/nodebots/sf/issues/3

I was kinda thinking about taking the Purpose section, and mixing in a few phrases from other sections, for something like ~250 words total.

[2015-05-27 15:23] melanielok commented on #32
So both my contacts at pier 9 are traveling that week.  Do you want me to ask the Amazon people?

[2015-05-27 15:32] alexglow commented on #32
Hey folks, can we build in a materials cost? I want to order the LED rolls and other supplies; it would be about $10-15/person, depending on how many show up (more people, less per-capita cost). Perhaps an Eventbrite? That would help us get a gauge on "true" attendance, too :)

It definitely isn't a problem to have a lower number of attendees, and I can boost the number if needed from the Noisebri

[2015-05-27 15:50] alexglow commented on #32
Also, thanks for setting up the events and everything!

[2015-05-27 16:13] bryan-m-hughes commented on #32
@melanielok aw, too bad about Pier 9. Please do ask at Amazon

@alexglow What do you think about finding a company to sponsor the hardware costs? I'm a little wary of charging at this point in time since people have already started to RSVP.

[2015-05-28 06:49] jden opened #36 "another robots thing to watch"
I hear from an inside source (@ctwiz) that there's another robot building day in the works, every weeked at the Palace of Fine Arts. They've got a huge indoor hangar-like space with lots of room for wheely things and flying things. If you wanna meet other robot makers or show off projects you're working on or learn more about building things, this could be your place.

Tell us more about it, @ctwi

[2015-05-28 06:53] ctwiz commented on #36
Thanks jden!
Check: https://www.facebook.com/groups/762335743881364/
for the next event. We're doing this every weekend and access to tools, machines, etc. Come out, hack, and learn together. :)

[2015-05-29 00:37] melanielok commented on #32
So Amazon is in. $150 for the security guy to stay late.  I can have my company cover that.

[2015-05-29 00:38] dshaw commented on #32
Awesome!

On Thursday, May 28, 2015, melanielok <notifications@github.com> wrote:

--
Daniel Shaw
@dshaw

[2015-05-29 19:30] alexglow commented on #32
I'd love to find a company to sponsor hardware, but it's a bit down to the wire... Has there been a workshop like this before, where we need raw materials?

I'll check on some potentials. Hackster may be able to but I can't promise :)

[2015-05-29 19:33] dshaw commented on #32
20x $10-15 for materials?

[2015-06-01 18:04] #28 closed

[2015-06-01 18:04] #26 closed

[2015-06-02 00:39] bryan-m-hughes commented on #32
@alexglow We have needed raw materials in the past. The lighting workshop with Kassandra comes to mind last fall, and that was a much higher bill (around $700).

It would be awesome if Hackster could sponsor, but if not, we can ask around. @Frijol, would Tessel be interested in sponsoring? Or @skalnik, would GitHub be interested in sponsoring? It sounds like the total BOM would be ~$250.

[2015-06-02 00:53] bryan-m-hughes commented on #32
So there are some complications with Amazon. In addition to the security deposit, it doesn't look like they will sponsor food/drink either. I'm thinking we should look elsewhere.

@dshaw we haven't been to New Relic in a while. Can you introduce me to your contacts there?

[2015-06-02 00:55] bryan-m-hughes commented on #32
Oh, also, @TheAlphaNerd, what about hosting at Famo.us? Since it's not a Thursday, for once, there isn't that conflict with the event you normally have on Thursdays, right?

[2015-06-02 01:07] Frijol commented on #32
Would you like me to ask my Autodesk contacts? Not sure if they'd be on board for dinner etc but I can ask. Is that a requirement?

[2015-06-02 01:13] bryan-m-hughes commented on #32
@Frijol that would be awesome! Dinner isn't a strict requirement, but it makes our lives a lot easier since we otherwise have to handle the logistics and cost ourselves.

[2015-06-03 05:23] Frijol commented on #32
All right, asked– we'll see!

[2015-06-03 05:28] emilyrose commented on #32
this seems relevant to my interests.

[2015-06-03 05:30] bryan-m-hughes commented on #32
Thanks @Frijol! _fingers crossed_

[2015-06-04 01:15] bryan-m-hughes commented on #32
@Frijol, any word back yet?

[2015-06-04 03:28] alexglow commented on #32
I'm spending tomorrow hacking up the prototype and making sure we get all the HW in time ^_^

Hackster can't sponsor with funds (aah startup aah), but if we still need a venue, I might be able to get Geekdom!

[2015-06-04 03:59] bryan-m-hughes commented on #32
@alexglow, can you ask geekdom?

I've been asking around as well, but no luck so far.

We still have the option of doing Amazon, but that will add a few hundred to the cost, so I really want to avoid that if possible.

[2015-06-04 04:30] Frijol commented on #32
Question back from my contact: "would users post instructables?"

[2015-06-04 04:42] bryan-m-hughes commented on #32
@Frijol We haven't done that in the past, but we could maybe work that into the evening, and the NodeBots SF twitter can retweet everything posted.

@alexglow are you ok with that? Do instructables and hackster kind of overlap?

[2015-06-04 15:36] Frijol commented on #32
Still waiting to hear back from Autodesk, but I can offer the Technical Machine office if we need it. Could probably fit ~20 bikes?

We can't sponsor food or anything, but let me know

[2015-06-04 16:14] dshaw commented on #32
If we move to Technical Machines, I'll cover food.

[2015-06-04 16:28] bryan-m-hughes commented on #32
I can get behind hosting at Tessel, the garage space would make it pretty great for bringing bikes in. Distance from SF is a concern of course, but maybe we could make up for it with Oakland folks.

PubNub can host us (including food), but there's a catch. SFJS is also there that night, so they would have the main area and we would be in a back conference room.

There's a chance we can host at Rdi

[2015-06-04 16:35] bryan-m-hughes commented on #32
@alexglow thanks for taking care of hardware. Just to confirm, you're ordering the hardware for that night, correct?

@dshaw can NodeSource sponsor the hardware cost?

[2015-06-04 17:10] dshaw commented on #32
@bryan-m-hughes What's the damage?

[2015-06-04 17:24] bryan-m-hughes commented on #32
@alexglow ^^? IIRC $15 per @20 people was the estimate, and I think 20 sounds like a reasonable number.

Update, Rdio is looking like a real possibility actually. I'll let everyone know once it's confirmed

[2015-06-04 17:32] dshaw commented on #32
Let's bang the sponsor drum a bit more, but I can guarantee coverage so we can make the order.

[2015-06-04 17:33] bryan-m-hughes commented on #32
kk. @alexglow, can we get a BOM so we have an exact cost?

[2015-06-04 18:32] alexglow commented on #32
Awaiting response for Geekdom; looks like the night should be free...

I'm ordering the hardware, yes. Touching up the exact BoM now, will be in touch. If we can avoid an explicit Instructables connection, that'd be best since I'm taking work time to get the workshop in shape.

I *might* be able to get some Edisons from our hackathon stock, which would be fantastic! Unless Spark or PunchThrough wa

[2015-06-04 18:38] emilyrose commented on #32
@alexglow how many do we need? :smile_cat:

[2015-06-04 18:38] bryan-m-hughes commented on #32
It's official, Rdio is hosting! We even get the penthouse, which has awesome views of the city from the mission :D Food/drinks will be provided too.

[2015-06-04 18:39] dshaw commented on #32
:dancer:

[2015-06-04 18:39] bryan-m-hughes commented on #32
http://skybluepenthouse.com/

[2015-06-04 19:10] dshaw commented on #32
Wow, that's sweet.

[2015-06-04 19:19] alexglow commented on #32
That's awesome!!

Can we close admission now? It's getting quite big and we need to make sure we've got enough supplies. Thanks :)

[2015-06-04 19:22] bryan-m-hughes commented on #32
I would prefer to keep it open. Our actual attendance rate is usually about 30% of RSVP'ed attendees, which is only 10 people right now.

Last time we closed admission, we capped it at 40 people for the soldering workshop, and only 8 people showed up :(

[2015-06-04 19:33] alexglow commented on #32
TBH, charging a nominal fee tends to discourage no-shows. Depending on the amount of sponsorship we get, it could be a good move... though then again, as you mentioned, it would likely be different since the event started out being free :/

Tough call!

[2015-06-04 19:36] bryan-m-hughes commented on #32
I was chatting with some of the other JS organizers at JSConf, and a lot of them charge a small fee. I'm starting to think we should do that too for future events, but yes, too late to do it now.

NodeBots Day would be a good time to implement that, since it's kind of a different event anyways.

[2015-06-04 20:09] emilyrose commented on #32
If we decide to charge for tickets, I think we should make it very visible that we offer free tickets to those that aren't able to afford a ticket (regardless of how inexpensive).

[2015-06-04 20:11] bryan-m-hughes commented on #32
+1

[2015-06-04 20:50] dshaw commented on #32
@emilyrose Great point. With EnterpriseJS we had to make it super obvious too. (People don't read.) We state it at the top of the description, but had to add it to the RSVP link too.

Click on RSVP to see: https://enterprisejssfbay1.splashthat.com/

[2015-06-05 00:22] alexglow commented on #32
Okay so! I ordered supplies that should be enough for 20 participants, which came to $214.25, about $11 per attendee. For *smart* bike lights, we should still find a hardware sponsor; I'm trying to see if Particle Cores would work, also seeing if it's possible we might use some Edisons from the Hackster hackathon stock.

If we can get Edisons with Seeed Grove Kits, that would give us a fantastic b

[2015-06-05 03:42] Frijol commented on #32
Has anyone reached out to PunchThrough for potential hardware sponsorship? I have a contact & [the form factor is bike-friendly](https://punchthrough.com/bean/examples/automatic-bike-lights/) :)

[2015-06-05 06:33] bryan-m-hughes commented on #32
I didn't know they were in SF actually. I don't think I've met anyone from there. @Frijol do you have some contacts there?

[2015-06-05 17:19] Frijol commented on #32
Peripherally, I have the CEO's email & could ask if he's interested. Is it useful for this bike hacking event to ask if they can donate some Blue Beans, maybe in exchange for some project writeups when we use them? @alexglow

[2015-06-05 23:45] bryan-m-hughes commented on #32
Oh, so @alexglow: We do have a stock of some microcontrollers already that would be free to use, most notably lots and lots of Arduino Unos. Not portable, but enough to get things to light up. We also have a handful of Electric Imps, and I think we have a handful of Raspberry Pis and Spark Cores as well.

[2015-06-09 18:35] alexglow commented on #32
Oh fantastic!! I can bring what I have and we will have a glorious hack day.

Also, given the potential for low attendance and variable time for building the lights themselves (I unfortunately haven't had time for a workday) – plus the relatively short workshop duration – if we need to make a follow-up day sometime to get everybody working, that's cool too. :)

This is gonna be awesome!!! I'm plan

[2015-06-09 18:46] bryan-m-hughes commented on #32
@alexglow I'm planning on hopping over to the storage unit to get hardware around 4, so 5 sounds great! I don't think anyone will be up in the penthouse yet, so maybe stop by the Rdio office and we can go up together to start setting up?

It's totally cool if your friends stop by and interview/take pictures/film/whatever (as long as they get permission from individuals first, of course). It's not

[2015-06-10 20:08] bryan-m-hughes commented on #32
It was a great night last night! Thanks everyone!

Sorry for not getting anywhere with corporate sponsors for the hardware :( I was just completely swamped these last few days. @dshaw can you coordinate with @alexglow to get the hardware order reimbursed?

[2015-06-10 20:10] bryan-m-hughes commented on #32
Also, I got a lot of great ideas from talking with other organizers to help prevent having to scramble at the last minute like we did for this one and make the organization of events go smoother.

I'm starting on a PR, but the tl;dr is creating a template TODO checklist that we add to the top of each issue, along with due dates that go here and in a shared calendar, and making delegation of respon

[2015-06-10 21:06] dshaw commented on #32
@bryan-m-hughes Yes. @alexglow dshaw@nodesource.com info on how much and how to pay.

[2015-06-10 21:21] alexglow commented on #32
Omfg, that would be amazing!! Will email you. :) Thanks @bryan-m-hughes & @dshaw & @Frijol & everyone for a marvelous time.

[2015-06-17 05:11] #32 closed

[2015-08-19 23:05] dshaw commented on #34
@nebrius @Frijol Still good for September?

[2015-08-19 23:55] nebrius commented on #34
@dshaw yep, we're good :)

[2015-08-20 14:47] Frijol commented on #34
Should be!

[2015-08-20 15:27] Frijol commented on #34
9/17 right?

[2015-08-20 16:06] nebrius commented on #34
Yes, 9/17! I'll update the original ticket with more info, including the checklist.

[2015-08-20 16:12] nebrius commented on #34
Alright, I added the checklist, let's see how this works out! I'll take venue selection. I've already started chatting with a few people.

Who would like to take on which tasks? @Frijol perhaps you could take on creating the meetup.com event?

[2015-08-20 16:23] Frijol commented on #34
Yes, will do & added myself!

[2015-08-20 16:28] nebrius commented on #33
No august meeting due to scheduling issues and recovering from conference season :)

[2015-08-20 16:28] #33 closed

[2015-08-20 16:43] nebrius opened #38 "November meeting"
We don't have a theme/topic for this event yet. We'd love to hear suggestions!

This meetup will be on November 19th.

Event Checklist:

- [x] Speaker selected: October 8th, unassigned
- [x] Venue secured: October 22nd, unassigned
- [x] Meetup.com event created: October 29th, unassigned
- [x] Hardware ordered (if applicable): November 5th, unassigned
- [x] Sponsor found for hardware: November 5th,

[2015-08-20 16:52] nebrius opened #39 "December meeting"
We don't have a theme/topic for this event yet. We'd love to hear suggestions! We chatted about possibly doing a holiday lighting hack night last year but it never materialized. Perhaps we could do that this year?

This meetup will be on December 17th.

Event Checklist:

- [ ] Speaker selected: November 5th, unassigned
- [x] Venue secured: Maker Square (thanks @chrisrhoton!)
- [ ] Meetup.com event

[2015-09-11 14:47] Frijol commented on #34
Checking in on this – here's the meetup link: http://www.meetup.com/nodebotssf/events/224916005/

Sounds like @nebrius is out of town but @melanielok and I are both going for sure. I believe @johnnyman727 and @timcameronryan are also coming to help run the T2 hack. Maybe also @jiahuang @kevinmehall?

For Nodebots meetup readiness, any updates re the checklist above?

In terms of hardware readiness

[2015-09-11 14:51] Frijol commented on #34
test post

[2015-09-11 14:51] Frijol commented on #34
Checking in on this – here's the meetup link: http://www.meetup.com/nodebotssf/events/224916005/

Sounds like @nebrius is out of town but @melanielok and I are both going for sure. I believe @johnnyman727 and @timcameronryan are also coming to help run the T2 hack. Maybe also @jiahuang @kevinmehall?

For Nodebots meetup readiness, any updates re the checklist above?

In terms of hardware readiness

[2015-09-11 16:10] nebrius commented on #34
I got the sponsor on the website, and I'll follow up with New Relic later today, cc'ing some others on it so everyone knows who's who.

[2015-09-17 05:37] Frijol commented on #34
get excited, this is gonna be goood ~
http://tessel.github.io/t2-start/

[2015-10-08 16:12] #34 closed

[2015-10-22 22:42] nebrius opened #41 "A different take on CoCs?"
I saw a link to this on twitter, and it's a really fascinating CoC: https://github.com/maitria/joyconf.com/blob/master/coc.md

I feel like it shifts the focus quite a bit, and strikes a very compassionate tone compared to the somewhat sterile Citizen CoC we currently use.

I really admire how they focus on how things make people _feel_, and use that as the basis for the CoC.

I'm not saying we sho

[2015-10-23 04:26] Frijol commented on #41
oh I really like this. Especially the "here are specific things that happen"

[2015-10-31 20:55] #35 closed

[2016-02-03 22:24] nebrius commented on #38
Whoops, kinda forgot to fill this one out. Meeting held, and it was awesome :)

[2016-02-03 22:24] #38 closed

[2016-02-03 22:24] nebrius commented on #39
We skipped December

[2016-02-03 22:24] #39 closed

[2016-02-03 22:29] nebrius opened #42 "February Event"
Event Checklist:
- [x] Speaker selected: @nebrius
- [x] Venue secured: @nebrius
- [x] Meetup.com event created: @nebrius
- [x] Hardware ordered (if applicable): February 5th, @nebrius
- [x] Sponsor found for hardware: February 5th, @nebrius
- [x] Venue and hardware sponsor added to meetup.com sponsors list February 5th, @nebrius
- [x] Food and drink confirmed: February 11th, @nebrius
  - [ ] Will

[2016-04-05 23:04] #42 closed, assigned to nobody